// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


/* CSS */

.nav-font{
    font-family: Georgia, serif;
    font-size: large;
    color: white;
    text-shadow: 0 1px 1px white;
}
.nav-font:hover {
    color: #ffd700;
    text-shadow:
        0 0 10px rgba(255,215,0,.8),
        0 0 20px rgba(255,215,0,.5);
}

.btn-color {
    background-color: #F5C126 !important;
    border-color: #F5C126 !important;
    color: black !important;
}

.mypage-text{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #000;

    -webkit-text-stroke: 0.5px #fff;
}