@import './reservation-common.css';

.go-to-mypage-btn {
    background-color: #103985;
    color: #F5C126;
    border: 3px solid #F5C126;

    padding: 12px 32px;
    font-size: 1.1rem;
    border-radius: 8px;
    font-weight: 600;
}
