@import './reservation-common.css';

.reservation-page {
    margin: 0;
    padding: 50px;
    min-height: 100vh;

    background-image: url("/images/layouts/reservation_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: Georgia, serif;
}

/* stepper */
.step-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Current */
.current .step-circle {
    background-color: #F5C126;
    color: #000;
}

/* Complete */
.complete .step-circle {
    background-color: #FFF;
    color: #000;
    border: 2px solid #1D3761;
}

/* Upcoming */
.upcoming .step-circle {
    background-color: #6C757D;
    color: #FFF;
}

.step-line {
    width: 80px;
    height: 2px;
    background-color: #6C757D;
}

/* Reservation Summary */
.card.summary {
    background-color: #1D3761;
    color: #fff;
    border: 2px solid #F5C126;
}

/* button */
.back-btn,
.next-btn {
    padding: 8px 24px;
    font-size: 16px;
    border-radius: 6px;
    font-weight: bold;
}

.back-btn {
    background-color: #000;
    color: #FFF;
    border: 3px solid #FFF;
}

.next-btn {
    background-color: #F5C126;
    color: #000;
    border: none;
    border: 3px solid #F5C126;
}
