@import './reservation-common.css';

.confirm-title {
    color: #F5C126;
    font-size: 2rem;
    font-weight: 700;
}

.confirm-message {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.confirm-btn {
    background-color: #F5C126;
    color: #000;
    border: none;
    border: 3px solid #F5C126;

    padding: 8px 24px;
    font-size: 16px;
    border-radius: 6px;
    font-weight: bold;
}