.confirm-btn {
    background-color: #F5C126;
    color: #1B2F55;
    border: 2px solid #F5C126;

    padding: 8px 24px;
    font-size: 16px;
    border-radius: 6px;
    font-weight: bold;
}

.confirm-btn:hover {
    background-color: #1B2F55;
    color: #F5C126;
}

.premium-text {
    color: #9C022F;
}